<div class="col-12 my-auto">
    <div class="text-center">
        <h4 class="text-info">{{title}}</>
    </div>
    <div class="text-center">
        <form name="login_form" id="login_form">
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                    autocomplete="email" autofocus>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" autocomplete="current-password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember me</label>
            </div>
            <button value="Submit" type="submit" class="btn btn-outline-dark my-2 my-sm-0">Sign </button>
        </form>
    </div>
</div>

<script >

    $('#login_form').on('submit', function (event) {


        var obj = $('#login_form').serializeJSON();

        event.preventDefault();
        var formData = JSON.stringify($('#login_form').serializeArray());
        console.log(formData);
        console.log(obj);

    });
</script>
