<div class="col-12 my-auto">
    <div class="text-center">
        <h1 class="text-info">{{title}}</h3>
            <p>{{body}}</p>
            <a class="btn btn-outline-dark my-3" type="button" href="/transactions">Check transactions</a>
    </div>
</div>
