<nav class="navbar navbar-expand-md navbar-light border-bottom ">
    <a class="navbar-brand text-info" href="/">NestJS BankingApp API</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <a class="btn btn-outline-dark my-2 my-sm-0" href="/account">Login</a>
    </div>
</nav>
